@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
        font-family: "Inter", sans-serif;
        background: rgb(0,0,0);
        color: rgb(255,255,255);
}

    /* common styles */

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(180.00deg, rgb(17,17,17), rgba(119,119,119, 0) 100%);
    
}
:root{
    --primary-color: rgb(230, 83, 60);
    --secondary-color: rgb(34,34,34);
}

h1{
    font-size: 2.8rem;
    font-weight: 800;
}
p{
    color: rgba(255,255,255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    }

/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 4rem;
    margin-left: 3%;
}
.navbar-logo{
    color: var(--primary-color);
}
.navbar-items{
    border: 1px solid rgba(255,255,255, 0.1);
    border-radius: 2.1rem;
    padding: 1rem;
}
.navbar-items a{
    text-decoration: none;
    color: rgb(255,255,255);
    margin: 2rem;
    align-items: center;
    font-size: 1.1rem;
}
.home{
    background-color: var(--primary-color);
    border-radius: 3rem;
    padding: 0.6rem 1.5rem;
}
.ham-bar {
    display: none;
}

/* banner */
.banner-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15%;
    width: 100%;
    
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 5%;
    margin-top: 8%;
    margin-left: 15%;
  
}
.banner-content h2{
    font-size: 5rem;
    font-weight: 800;
    line-height: 110%;
}
.button1{
    background-color: var(--primary-color);
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 2.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
}
.button2{
    padding: 1rem 2.5rem;
    border: 1px solid rgb(255,255,255);
    border-radius: 2.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    background: rgb(0,0,0);
    margin: 10px 0 0 10px;
    cursor: pointer;
}
.banner-img-content {
    position: relative;
}
.banner-img-content {
    width: 345px;
    height: 550px;
}
.banner-img-content img{
    width: 100%;
}
.btn-tutorial{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255, 0.1);
    border-radius: 0.8rem;
    padding: 10px;
    text-align: left;
    width: 200px;
    height: 90px;
    position: absolute;
    top: 76%;
    right: 70%;
}
 .btn-tutorial div{
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 20px;
}
.btn-tutorial span, .btn-workout span{
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(255,255,255);
}
.btn-workout{
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255, 0.1);
    border-radius: 0.7rem;
    padding: 20px;
    text-align: left;
    width: 200px;
    height: 99px;
    position: absolute;
    top: 23%;
    left: 68%;
}
.btn-workout span{
font-size: 2.3rem;
}
.btn-workout p{
    font-size: 0.9rem;
}

/* Habits Section */
.habits-container{
width: 75%;
margin: 0 auto;
padding-top: 4%;
}
.habits-container-title, .habits-container-para{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.habits-cards-content .habits-container-title{
font-size: 1.1rem;
font-weight: 600;
}
.habits-container-para{
    font-size: 13px;
}
.habits-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;
    margin-top: 40px;
}
.habits-cards-content{
  padding: 10px;
   
}

.habits-cards-content img{
    width: 75%;
   border-radius: 70%;
   border: 1px solid rgba(255,255,255, 0.5);
    margin-left: 28px;
}

